/* Write your CSS here */
.container {
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  min-height: 100vh;
}
.heading {
  color: #f0bb03;
  font-size: 37px;
  font-family: bree serif;
  font-weight: 800;
}
.description {
  font-size: 20px;
  color: #ffffff;
  font-family: bree serif;
  font-weight: 400px;
}
.button {
  background-color: #ffffff;
  color: black;
  padding: 7px;
  border-width: 0px;
  border-radius: 5px;
  font-family: bree serif;
  cursor: pointer;
}
